
:root{
    --main-bg-color:#fafafa;
    --main-bold-font:#2a2a2a;
    --second-font:#a1a1a0;
    --sun-color:#fee67c;
    --rain-color-primary:#4dbfd9;
    --rain-color-secondary:#49B5CE;
    background-color:var(--main-bg-color);
}
.main_container
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10% 10%;
    flex-direction: column;
}
.searchBar{
    display: flex;
    border-radius: 50px;
    padding:10px;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-left:20px;
    margin-right:20px;
   
}
.search{
    color:var(--main-bold-font);
    border:none;
    outline:none;
    border-bottom: 0.5px solid var(--second-font);
    height: auto;
    width:3ch;
    margin-left:10px;
    margin-right:10px;
    text-align: center;

}

input[type="text"]
{
    font-size:3rem;
    background-color: inherit;
}
.searchBar>span{
    font-size:1.5rem;
    color:var(--second-font);
}
.main_content
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width:100%;
}
.main_animation
{
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.main_animation>svg{
    height: 50px;
    width: 50px;
}
.main_temp
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 100;
}
.extra_content
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:var(--second-font);
    
}
.extra_content>div
{
    display:flex;
    justify-content: center;
    padding:10px 0px;
    align-items: center;
}
div>svg{
    width:30px;
    height: 30px;
    margin-right:5px;
}
.main_animation
{
    color:var(--second-font);
    
}
.main_animation>svg{
    height: 6rem;
    width:6rem;
}
.forecast_Container
{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    padding:10px 0px;
    color:var(--second-font);
}
.unit
{
    display:flex;
    padding:10px;
}
.unit>button{
    border:none;
    background-color: inherit;
    color:var(--second-font);
}
form>#submitInput
{
    display:none;
}